body{
    background: url("img/main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0;

}
.logo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-link{
   display: block;
    text-align: center;
    color: red;
    margin-top: 30px;
    font-size: 18px;
}
.button-link a{
    color: red;
}