{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu des pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <a href="{% url 'main:main' %}"><img id="small_logo" src="{% static 'menu/images/small_logo.png' %}"></a>
    <div class="menu-title">
        <h1>Les pizzas</h1>
    </div>
    <div class="menu-list">
        <ul>
        {% for pizza in pizzas %}
        <div class="menu-list-item">
            <span class="menu-list-title">{{pizza.nom}}</span>
            <span class="menu-prix">{{pizza.prix | floatformat:2}}$</span>
            <span class="menu-ingredients">{{pizza.ingredients}}</span>
            {% if pizza.vegetarienne %}
                <span class="menu-badge">VEGETARIENNE</span>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
    </div>
</body>
</html>